body{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
.tab {
    background-color:skyblue;
    border: 2px solid black;
    width: 260px;
    height: 210px;
    margin-top: 210px;
    text-align: center;
    margin-left: 630px;
}
input[type="text"] {
    margin-top: 60px;
    padding: 10px;
    text-align: center;
}
input[type="submit"] {
    padding: 10px;
    margin: 10px;
    width: 184px;
    background-color: darkgrey;
}
input[type="submit"]:hover{
	background-color: blue;
}